
dist
.solid
.output
.vercel
.netlify
netlify
g
# dependencies
node_modules

# IDEs and editors
.idea
.project
.classpath
*.launch
.settings

# Temp
gitignore

# Turbo
.turbo

# System Files
.DS_Store
Thumbs.db
