@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* -------------------------------------------------------------------------------------------------
   * Reference tokens
   * -----------------------------------------------------------------------------------------------*/

  $white: #ffffff;
  $black: #0c0e10;

  $slate-50: #f8fafc;
  $slate-100: #f1f5f9;
  $slate-200: #e2e8f0;
  $slate-300: #cbd5e1;
  $slate-400: #94a3b8;
  $slate-500: #64748b;
  $slate-600: #475569;
  $slate-700: #334155;
  $slate-800: #1e293b;
  $slate-900: #0f172a;

  $slate-100A: #0f172a08;
  $slate-200A: #0f172a0f;
  $slate-300A: #0f172a24;
  $slate-400A: #0f172a4f;
  $slate-500A: #0f172a7d;

  $slate-100A-dark: #cbd5e10a;
  $slate-200A-dark: #cbd5e114;
  $slate-300A-dark: #cbd5e129;
  $slate-400A-dark: #cbd5e147;
  $slate-500A-dark: #cbd5e180;

  $stone-50: #fafaf9;
  $stone-100: #f5f5f4;
  $stone-200: #e7e5e4;
  $stone-300: #d6d3d1;
  $stone-400: #a8a29e;
  $stone-500: #78716c;
  $stone-600: #57534e;
  $stone-700: #44403c;
  $stone-800: #292524;
  $stone-900: #1c1917;

  $red-50: #fef2f2;
  $red-100: #fee2e2;
  $red-200: #fecaca;
  $red-300: #fca5a5;
  $red-400: #f87171;
  $red-500: #ef4444;
  $red-600: #dc2626;
  $red-700: #b91c1c;
  $red-800: #991b1b;
  $red-900: #7f1d1d;

  $amber-50: #fffbeb;
  $amber-100: #fef3c7;
  $amber-200: #fde68a;
  $amber-300: #fcd34d;
  $amber-400: #fbbf24;
  $amber-500: #f59e0b;
  $amber-600: #d97706;
  $amber-700: #b45309;
  $amber-800: #92400e;
  $amber-900: #78350f;

  $green-50: #f0fdf4;
  $green-100: #dcfce7;
  $green-200: #bbf7d0;
  $green-300: #86efac;
  $green-400: #4ade80;
  $green-500: #22c55e;
  $green-600: #16a34a;
  $green-700: #15803d;
  $green-800: #166534;
  $green-900: #14532d;

  $blue-50: #eff6ff;
  $blue-100: #dbeafe;
  $blue-200: #bfdbfe;
  $blue-300: #93c5fd;
  $blue-400: #60a5fa;
  $blue-500: #3b82f6;
  $blue-600: #2563eb;
  $blue-700: #1d4ed8;
  $blue-800: #1e40af;
  $blue-900: #1e3a8a;

  $violet-50: #f5f3ff;
  $violet-100: #ede9fe;
  $violet-200: #ddd6fe;
  $violet-300: #c4b5fd;
  $violet-400: #a78bfa;
  $violet-500: #8b5cf6;
  $violet-600: #7c3aed;
  $violet-700: #6d28d9;
  $violet-800: #5b21b6;
  $violet-900: #4c1d95;

  :root {
    /* -------------------------------------------------------------------------------------------------
     * Typography
     * -----------------------------------------------------------------------------------------------*/

    --pg-font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* -------------------------------------------------------------------------------------------------
     * Color - Texts
     * -----------------------------------------------------------------------------------------------*/

    --pg-color-text: $slate-900;
    --pg-color-text-subtle: $slate-700;
    --pg-color-text-subtlest: $slate-600;
    --pg-color-text-success: $green-600;
    --pg-color-text-danger: $red-600;

    /* -------------------------------------------------------------------------------------------------
     * Color - Backgrounds
     * -----------------------------------------------------------------------------------------------*/

    --pg-color-body-bg: $white;

    /* Subtle */
    --pg-color-subtle-bg: transparent;
    --pg-color-subtle-bg-hover: $slate-200A;
    --pg-color-subtle-bg-active: $slate-300A;

    /* Inverse */
    --pg-color-inverse-bg: #00000029;
    --pg-color-inverse-bg-hover: #0000003d;
    --pg-color-inverse-bg-active: #00000052;

    /* Surface */
    --pg-color-surface-bg: $white;
    --pg-color-surface-bg-hover: $slate-100;
    --pg-color-surface-bg-active: $slate-200;
    --pg-color-surface-raised-bg: $white;
    --pg-color-surface-raised-bg-hover: $slate-100;
    --pg-color-surface-raised-bg-active: $slate-200;
    --pg-color-surface-overlay-bg: $white;
    --pg-color-surface-overlay-bg-hover: $slate-100;
    --pg-color-surface-overlay-bg-active: $slate-200;
    --pg-color-surface-sunken-bg: $slate-50;

    /* -------------------------------------------------------------------------------------------------
     * Color - Misc.
     * -----------------------------------------------------------------------------------------------*/

    --pg-color-focus-ring: $blue-400;
    --pg-color-backdrop: $slate-500A;
    --pg-color-border: $slate-300A;

    /* -------------------------------------------------------------------------------------------------
     * Color - Global variants - Disabled
     * -----------------------------------------------------------------------------------------------*/

    --pg-color-disabled-text: $slate-400A;
    --pg-color-disabled-bg: $slate-100A;
    --pg-color-disabled-border: $slate-200A;

    /* -------------------------------------------------------------------------------------------------
     * Color - Global variants - Solid
     * -----------------------------------------------------------------------------------------------*/

    /* Primary */
    --pg-color-solid-primary-text: $white;
    --pg-color-solid-primary-bg: $blue-600;
    --pg-color-solid-primary-border: $blue-600;
    --pg-color-solid-primary-text-hover: $white;
    --pg-color-solid-primary-bg-hover: $blue-700;
    --pg-color-solid-primary-border-hover: $blue-700;
    --pg-color-solid-primary-text-active: $white;
    --pg-color-solid-primary-bg-active: $blue-800;
    --pg-color-solid-primary-border-active: $blue-800;

    /* Neutral */
    --pg-color-solid-neutral-text: $white;
    --pg-color-solid-neutral-bg: $slate-700;
    --pg-color-solid-neutral-border: $slate-700;
    --pg-color-solid-neutral-text-hover: $white;
    --pg-color-solid-neutral-bg-hover: $slate-800;
    --pg-color-solid-neutral-border-hover: $slate-800;
    --pg-color-solid-neutral-text-active: $white;
    --pg-color-solid-neutral-bg-active: $slate-900;
    --pg-color-solid-neutral-border-active: $slate-900;

    /* Success */
    --pg-color-solid-success-text: $white;
    --pg-color-solid-success-bg: $green-600;
    --pg-color-solid-success-border: $green-600;
    --pg-color-solid-success-text-hover: $white;
    --pg-color-solid-success-bg-hover: $green-700;
    --pg-color-solid-success-border-hover: $green-700;
    --pg-color-solid-success-text-active: $white;
    --pg-color-solid-success-bg-active: $green-800;
    --pg-color-solid-success-border-active: $green-800;

    /* Info */
    --pg-color-solid-info-text: $white;
    --pg-color-solid-info-bg: $blue-600;
    --pg-color-solid-info-border: $blue-600;
    --pg-color-solid-info-text-hover: $white;
    --pg-color-solid-info-bg-hover: $blue-700;
    --pg-color-solid-info-border-hover: $blue-700;
    --pg-color-solid-info-text-active: $white;
    --pg-color-solid-info-bg-active: $blue-800;
    --pg-color-solid-info-border-active: $blue-800;

    /* Warning */
    --pg-color-solid-warning-text: $stone-800;
    --pg-color-solid-warning-bg: $amber-300;
    --pg-color-solid-warning-border: $amber-300;
    --pg-color-solid-warning-text-hover: $stone-900;
    --pg-color-solid-warning-bg-hover: $amber-400;
    --pg-color-solid-warning-border-hover: $amber-400;
    --pg-color-solid-warning-text-active: $stone-900;
    --pg-color-solid-warning-bg-active: $amber-500;
    --pg-color-solid-warning-border-active: $amber-500;

    /* Danger */
    --pg-color-solid-danger-text: $white;
    --pg-color-solid-danger-bg: $red-600;
    --pg-color-solid-danger-border: $red-600;
    --pg-color-solid-danger-text-hover: $white;
    --pg-color-solid-danger-bg-hover: $red-700;
    --pg-color-solid-danger-border-hover: $red-700;
    --pg-color-solid-danger-text-active: $white;
    --pg-color-solid-danger-bg-active: $red-800;
    --pg-color-solid-danger-border-active: $red-800;

    /* Help */
    --pg-color-solid-help-text: $white;
    --pg-color-solid-help-bg: $violet-600;
    --pg-color-solid-help-border: $violet-600;
    --pg-color-solid-help-text-hover: $white;
    --pg-color-solid-help-bg-hover: $violet-700;
    --pg-color-solid-help-border-hover: $violet-700;
    --pg-color-solid-help-text-active: $white;
    --pg-color-solid-help-bg-active: $violet-800;
    --pg-color-solid-help-border-active: $violet-800;

    /* Selected */
    --pg-color-solid-selected-text: $white;
    --pg-color-solid-selected-bg: $blue-600;
    --pg-color-solid-selected-border: $blue-600;
    --pg-color-solid-selected-text-hover: $white;
    --pg-color-solid-selected-bg-hover: $blue-700;
    --pg-color-solid-selected-border-hover: $blue-700;
    --pg-color-solid-selected-text-active: $white;
    --pg-color-solid-selected-bg-active: $blue-800;
    --pg-color-solid-selected-border-active: $blue-800;

    /* -------------------------------------------------------------------------------------------------
     * Color - Global variants - Soft
     * -----------------------------------------------------------------------------------------------*/

    /* Primary */
    --pg-color-soft-primary-text: $blue-700;
    --pg-color-soft-primary-bg: $blue-50;
    --pg-color-soft-primary-border: $blue-50;
    --pg-color-soft-primary-text-hover: $blue-800;
    --pg-color-soft-primary-bg-hover: $blue-100;
    --pg-color-soft-primary-border-hover: $blue-100;
    --pg-color-soft-primary-text-active: $blue-800;
    --pg-color-soft-primary-bg-active: $blue-200;
    --pg-color-soft-primary-border-active: $blue-200;

    /* Neutral */
    --pg-color-soft-neutral-text: $slate-900;
    --pg-color-soft-neutral-bg: $slate-200A;
    --pg-color-soft-neutral-border: transparent;
    --pg-color-soft-neutral-text-hover: $slate-900;
    --pg-color-soft-neutral-bg-hover: $slate-300A;
    --pg-color-soft-neutral-border-hover: transparent;
    --pg-color-soft-neutral-text-active: $slate-900;
    --pg-color-soft-neutral-bg-active: $slate-400A;
    --pg-color-soft-neutral-border-active: transparent;

    /* Success */
    --pg-color-soft-success-text: $green-700;
    --pg-color-soft-success-bg: $green-50;
    --pg-color-soft-success-border: $green-50;
    --pg-color-soft-success-text-hover: $green-800;
    --pg-color-soft-success-bg-hover: $green-100;
    --pg-color-soft-success-border-hover: $green-100;
    --pg-color-soft-success-text-active: $green-800;
    --pg-color-soft-success-bg-active: $green-200;
    --pg-color-soft-success-border-active: $green-200;

    /* Info */
    --pg-color-soft-info-text: $blue-700;
    --pg-color-soft-info-bg: $blue-50;
    --pg-color-soft-info-border: $blue-50;
    --pg-color-soft-info-text-hover: $blue-800;
    --pg-color-soft-info-bg-hover: $blue-100;
    --pg-color-soft-info-border-hover: $blue-100;
    --pg-color-soft-info-text-active: $blue-800;
    --pg-color-soft-info-bg-active: $blue-200;
    --pg-color-soft-info-border-active: $blue-200;

    /* Warning */
    --pg-color-soft-warning-text: $amber-700;
    --pg-color-soft-warning-bg: $amber-100;
    --pg-color-soft-warning-border: $amber-100;
    --pg-color-soft-warning-text-hover: $amber-800;
    --pg-color-soft-warning-bg-hover: $amber-200;
    --pg-color-soft-warning-border-hover: $amber-200;
    --pg-color-soft-warning-text-active: $amber-800;
    --pg-color-soft-warning-bg-active: $amber-300;
    --pg-color-soft-warning-border-active: $amber-300;

    /* Danger */
    --pg-color-soft-danger-text: $red-700;
    --pg-color-soft-danger-bg: $red-50;
    --pg-color-soft-danger-border: $red-50;
    --pg-color-soft-danger-text-hover: $red-800;
    --pg-color-soft-danger-bg-hover: $red-100;
    --pg-color-soft-danger-border-hover: $red-100;
    --pg-color-soft-danger-text-active: $red-800;
    --pg-color-soft-danger-bg-active: $red-200;
    --pg-color-soft-danger-border-active: $red-200;

    /* Help */
    --pg-color-soft-help-text: $violet-700;
    --pg-color-soft-help-bg: $violet-50;
    --pg-color-soft-help-border: $violet-50;
    --pg-color-soft-help-text-hover: $violet-800;
    --pg-color-soft-help-bg-hover: $violet-100;
    --pg-color-soft-help-border-hover: $violet-100;
    --pg-color-soft-help-text-active: $violet-800;
    --pg-color-soft-help-bg-active: $violet-200;
    --pg-color-soft-help-border-active: $violet-200;

    /* Selected */
    --pg-color-soft-selected-text: $blue-700;
    --pg-color-soft-selected-bg: $blue-50;
    --pg-color-soft-selected-border: $blue-50;
    --pg-color-soft-selected-text-hover: $blue-800;
    --pg-color-soft-selected-bg-hover: $blue-100;
    --pg-color-soft-selected-border-hover: $blue-100;
    --pg-color-soft-selected-text-active: $blue-800;
    --pg-color-soft-selected-bg-active: $blue-200;
    --pg-color-soft-selected-border-active: $blue-200;

    /* Input */
    --pg-color-soft-input-text: $slate-900;
    --pg-color-soft-input-bg: $slate-100;
    --pg-color-soft-input-border: $slate-100;
    --pg-color-soft-input-text-hover: $slate-900;
    --pg-color-soft-input-bg-hover: $slate-100;
    --pg-color-soft-input-border-hover: $slate-100;
    --pg-color-soft-input-text-active: $slate-900;
    --pg-color-soft-input-bg-active: $slate-100;
    --pg-color-soft-input-border-active: $slate-100;

    /* -------------------------------------------------------------------------------------------------
     * Color - Global variants - Outlined
     * -----------------------------------------------------------------------------------------------*/

    /* Primary */
    --pg-color-outlined-primary-text: $blue-600;
    --pg-color-outlined-primary-bg: transparent;
    --pg-color-outlined-primary-border: $blue-600;
    --pg-color-outlined-primary-text-hover: $white;
    --pg-color-outlined-primary-bg-hover: $blue-600;
    --pg-color-outlined-primary-border-hover: $blue-600;
    --pg-color-outlined-primary-text-active: $white;
    --pg-color-outlined-primary-bg-active: $blue-700;
    --pg-color-outlined-primary-border-active: $blue-700;

    /* Neutral */
    --pg-color-outlined-neutral-text: $slate-900;
    --pg-color-outlined-neutral-bg: transparent;
    --pg-color-outlined-neutral-border: $slate-300A;
    --pg-color-outlined-neutral-text-hover: $slate-900;
    --pg-color-outlined-neutral-bg-hover: $slate-200A;
    --pg-color-outlined-neutral-border-hover: $slate-300A;
    --pg-color-outlined-neutral-text-active: $slate-900;
    --pg-color-outlined-neutral-bg-active: $slate-300A;
    --pg-color-outlined-neutral-border-active: $slate-300A;

    /* Success */
    --pg-color-outlined-success-text: $green-600;
    --pg-color-outlined-success-bg: transparent;
    --pg-color-outlined-success-border: $green-600;
    --pg-color-outlined-success-text-hover: $white;
    --pg-color-outlined-success-bg-hover: $green-600;
    --pg-color-outlined-success-border-hover: $green-600;
    --pg-color-outlined-success-text-active: $white;
    --pg-color-outlined-success-bg-active: $green-700;
    --pg-color-outlined-success-border-active: $green-700;

    /* Info */
    --pg-color-outlined-info-text: $blue-600;
    --pg-color-outlined-info-bg: transparent;
    --pg-color-outlined-info-border: $blue-600;
    --pg-color-outlined-info-text-hover: $white;
    --pg-color-outlined-info-bg-hover: $blue-600;
    --pg-color-outlined-info-border-hover: $blue-600;
    --pg-color-outlined-info-text-active: $white;
    --pg-color-outlined-info-bg-active: $blue-700;
    --pg-color-outlined-info-border-active: $blue-700;

    /* Warning */
    --pg-color-outlined-warning-text: $amber-700;
    --pg-color-outlined-warning-bg: transparent;
    --pg-color-outlined-warning-border: $amber-600;
    --pg-color-outlined-warning-text-hover: $stone-900;
    --pg-color-outlined-warning-bg-hover: $amber-300;
    --pg-color-outlined-warning-border-hover: $amber-300;
    --pg-color-outlined-warning-text-active: $stone-900;
    --pg-color-outlined-warning-bg-active: $amber-400;
    --pg-color-outlined-warning-border-active: $amber-400;

    /* Danger */
    --pg-color-outlined-danger-text: $red-600;
    --pg-color-outlined-danger-bg: transparent;
    --pg-color-outlined-danger-border: $red-600;
    --pg-color-outlined-danger-text-hover: $white;
    --pg-color-outlined-danger-bg-hover: $red-600;
    --pg-color-outlined-danger-border-hover: $red-600;
    --pg-color-outlined-danger-text-active: $white;
    --pg-color-outlined-danger-bg-active: $red-700;
    --pg-color-outlined-danger-border-active: $red-600;

    /* Help */
    --pg-color-outlined-help-text: $violet-600;
    --pg-color-outlined-help-bg: transparent;
    --pg-color-outlined-help-border: $violet-600;
    --pg-color-outlined-help-text-hover: $white;
    --pg-color-outlined-help-bg-hover: $violet-600;
    --pg-color-outlined-help-border-hover: $violet-600;
    --pg-color-outlined-help-text-active: $white;
    --pg-color-outlined-help-bg-active: $violet-700;
    --pg-color-outlined-help-border-active: $violet-700;

    /* Input */
    --pg-color-outlined-input-text: $slate-900;
    --pg-color-outlined-input-bg: transparent;
    --pg-color-outlined-input-border: $slate-300A;
    --pg-color-outlined-input-text-hover: $slate-900;
    --pg-color-outlined-input-bg-hover: transparent;
    --pg-color-outlined-input-border-hover: $slate-300A;
    --pg-color-outlined-input-text-active: $slate-900;
    --pg-color-outlined-input-bg-active: transparent;
    --pg-color-outlined-input-border-active: $slate-300A;

    /* -------------------------------------------------------------------------------------------------
     * Color - Global variants - Ghost
     * -----------------------------------------------------------------------------------------------*/

    /* Primary */
    --pg-color-ghost-primary-text: $blue-600;
    --pg-color-ghost-primary-bg: transparent;
    --pg-color-ghost-primary-border: transparent;
    --pg-color-ghost-primary-text-hover: $blue-700;
    --pg-color-ghost-primary-bg-hover: $blue-50;
    --pg-color-ghost-primary-border-hover: $blue-50;
    --pg-color-ghost-primary-text-active: $blue-800;
    --pg-color-ghost-primary-bg-active: $blue-100;
    --pg-color-ghost-primary-border-active: $blue-100;

    /* Neutral */
    --pg-color-ghost-neutral-text: $slate-900;
    --pg-color-ghost-neutral-bg: transparent;
    --pg-color-ghost-neutral-border: transparent;
    --pg-color-ghost-neutral-text-hover: $slate-900;
    --pg-color-ghost-neutral-bg-hover: $slate-200A;
    --pg-color-ghost-neutral-border-hover: transparent;
    --pg-color-ghost-neutral-text-active: $slate-900;
    --pg-color-ghost-neutral-bg-active: $slate-300A;
    --pg-color-ghost-neutral-border-active: transparent;

    /* Success */
    --pg-color-ghost-success-text: $green-600;
    --pg-color-ghost-success-bg: transparent;
    --pg-color-ghost-success-border: transparent;
    --pg-color-ghost-success-text-hover: $green-700;
    --pg-color-ghost-success-bg-hover: $green-50;
    --pg-color-ghost-success-border-hover: $green-50;
    --pg-color-ghost-success-text-active: $green-800;
    --pg-color-ghost-success-bg-active: $green-100;
    --pg-color-ghost-success-border-active: $green-100;

    /* Info */
    --pg-color-ghost-info-text: $blue-600;
    --pg-color-ghost-info-bg: transparent;
    --pg-color-ghost-info-border: transparent;
    --pg-color-ghost-info-text-hover: $blue-700;
    --pg-color-ghost-info-bg-hover: $blue-50;
    --pg-color-ghost-info-border-hover: $blue-50;
    --pg-color-ghost-info-text-active: $blue-800;
    --pg-color-ghost-info-bg-active: $blue-100;
    --pg-color-ghost-info-border-active: $blue-100;

    /* Warning */
    --pg-color-ghost-warning-text: $amber-700;
    --pg-color-ghost-warning-bg: transparent;
    --pg-color-ghost-warning-border: transparent;
    --pg-color-ghost-warning-text-hover: $amber-700;
    --pg-color-ghost-warning-bg-hover: $amber-100;
    --pg-color-ghost-warning-border-hover: $amber-100;
    --pg-color-ghost-warning-text-active: $amber-800;
    --pg-color-ghost-warning-bg-active: $amber-200;
    --pg-color-ghost-warning-border-active: $amber-200;

    /* Danger */
    --pg-color-ghost-danger-text: $red-600;
    --pg-color-ghost-danger-bg: transparent;
    --pg-color-ghost-danger-border: transparent;
    --pg-color-ghost-danger-text-hover: $red-700;
    --pg-color-ghost-danger-bg-hover: $red-50;
    --pg-color-ghost-danger-border-hover: $red-50;
    --pg-color-ghost-danger-text-active: $red-800;
    --pg-color-ghost-danger-bg-active: $red-100;
    --pg-color-ghost-danger-border-active: $red-100;

    /* Help */
    --pg-color-ghost-help-text: $violet-600;
    --pg-color-ghost-help-bg: transparent;
    --pg-color-ghost-help-border: transparent;
    --pg-color-ghost-help-text-hover: $violet-700;
    --pg-color-ghost-help-bg-hover: $violet-50;
    --pg-color-ghost-help-border-hover: $violet-50;
    --pg-color-ghost-help-text-active: $violet-800;
    --pg-color-ghost-help-bg-active: $violet-100;
    --pg-color-ghost-help-border-active: $violet-100;

    /* -------------------------------------------------------------------------------------------------
     * Shadows
     * -----------------------------------------------------------------------------------------------*/

    --pg-shadow-surface-raised: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    --pg-shadow-surface-overlay: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
  }

  .pg-dark,
  [data-pg-theme="dark"] {
  }
}
